<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <expandInitialFieldValue>
        <processor
          patch:after="processor[@type='type=Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']"
          type="Sitecore.Foundation.Extension.StandardValueCustomToken.Pipeline.LowerName, Sitecore.Foundation.Extension.StandardValueCustomToken" />
      </expandInitialFieldValue>
    </pipelines>
  </sitecore>
</configuration>
